//Colours
$grey: #333333;
$white: #ffffff;
$blue: #0000ff;


// Navigation Colours
$nav-background: $grey;
$nav-text-color: $white;

// Clock Variables
$clock-colour: $blue;
$clock-text-colour: $white;
$clock-bg-colour: #b5d0e2;
$clock-border-colour: #2099e8;
